<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>User Edit</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h1>更新フォーム</h1>
        <form action="/update/<%= user.id %>" method="POST"> name <input type="text" name="name" value="<%= user.name %>"><br> email <input type="email" name="email" value="<%= user.email %>"><br>
            <button type="submit">更新</button>
        </form>
    </body>
</html>
