<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>User list</title>
    </head>
    <body>
        <table>
        </table>
        <p id="textTag"><%= message %></p>
        <ul id="myList"></ul>
        <div id="myMap"></div>
        <script type="text/javascript">
            // ... (参考例は変更なし)

            // 基礎課題01: 画面に表示 

            // 基礎課題02: リスト表示
            const myList = JSON.parse('<%- JSON.stringify(list) %>');
            const myListElement = document.getElementById('myList');
            myList.forEach(item => {
                const listItem = document.createElement('li');
                listItem.textContent = item;
                myListElement.appendChild(listItem);
            });

            // 基礎課題03: マップ表示
            const myMap = JSON.parse('<%- JSON.stringify(map) %>');
            const myMapElement = document.getElementById('myMap');
            myMap.forEach(person => {
                const personDiv = document.createElement('div');
                personDiv.innerHTML = `name: ${person.name}<br>email: ${person.email}`;
                myMapElement.appendChild(personDiv);
            });
        </script>
    </body>
</html>
